@import './tailwind.css';

:root {
  color-scheme: light dark;
}

html, body, #root { height: 100%; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-responsive {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
